body, html {
    height: 100%;
    background-color: #fafafc;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
}

::-moz-placeholder { /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder { /* IE 10+ */
    color: white;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;
}


li {
    list-style-type:none;
}
    li:hover {
        background-color: lightgrey;
    }


.bg {   
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");   
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width:90%;
}

.searchDiv {
    height: 150px;
    background-image: linear-gradient(to left, #e8381b, #ff690f);
    position: relative;
    border:none;
}

.searchForm {
    position: absolute;
    top: 35%;
    height: auto;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    border: none;
}

.iconAndSearch {
    color: white;
    border: none;
}

.bi-film {
    position: absolute;
    top: 14px;
    left: 10px;
    width:20px;
    height:20px;    
}

.bi-search {
    position: absolute;
    width: 50px;
    height: 50px;
    color: #ff690f;
    background-color: white;
    padding: 15px;
    border-radius: 2px;
}

.searchField {
    color: white;
    padding: 12px;
    padding-left: 40px;
    width: 92%;
    background-image: linear-gradient(to right, #ff8649, #ef634d);
    border: none;
    font-weight: 700;
    outline-color:antiquewhite;
}

    .searchField:focus{
        background: white;
        color: black;
        width:100%;
        border:none;
    }

.placeHolder {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: small;
    font-weight:500;
    color:grey;
    visibility:hidden;
}

.autoCompleteField {
    width: 105%;
    border:none;
    background: white;
    -webkit-box-shadow: 8px 8px 6px -6px grey;
    -moz-box-shadow: 8px 8px 6px -6px grey;
    box-shadow: 8px 8px 6px -6px grey;
}


.movie {
    width: 100%;
    padding: 10px;
}

.movieName {
    color: black;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0px;
}

.movieInfo {
    color: darkslategray;
    font-size: 10px;
    margin-bottom: 0px;
}

.searchResults {
    background: #fafafc;
    height:80vh;
}

